// Custom.scss

@import "../node_modules/bootstrap/scss/bootstrap";

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#mainfoto{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.selector-for-some-widget {
    box-sizing: content-box;
}